body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #27272b;
    color: #dfdfdf;
}

#greetingPanel {
    text-align: center;
}

#screen-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.5;
    display: none;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;

    width: 1.5vw;
    height: 1.5vw;

    font-size: 1vw;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5vw;

    margin: 0.25vw;

    border-radius: 0.75vw;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.closeButton:hover {
    background-color: #202022;
}

.closeButton:active {
    background-color: #17171b;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: 1vw;
    width: 100%;
    background-color: #27272b;
}

a { color: #dfdfdf; }

/* Photo panel */

#photoPanel {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 0;
}

.thumbnail {
    width: 16.4vw;
    height: 16.4vw;

    background-color: #dedede;
    margin: 1vw;

    display: inline-block;

    border-radius: 1vw;

    filter: brightness(1.0);
}

.thumbnail:hover {
    filter:brightness(0.6);
}

.thumbnail:active {
    filter:brightness(0.4);
}




/* Upload */

#uploadButton {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 3vw;
    height: 3vw;
    border-radius: 1.5vw;

    margin: 0.5vw;

    z-index: 4;
    
    background-color: #09b598;
    text-align: center;
    font-size: 2vw;
    color: #dfdfdf;;
    line-height: 3vw;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#uploadButton:hover{
    background-color: #009578
}

#uploadButton:active {
    background-color: #008060;
}

#uploadMenu {
    position: fixed;
    top: 6vw;
    left: 37.5vw;
    
    width: 25vw;
    height: 30vw;

    background-color: #27272b;
    display: none;

    text-align: center;

    padding: 2vw;
}

/* Settings */

#settingsButton {
    position: fixed;
    top: 0;
    left: 0;

    width: 3vw;
    height: 3vw;
    border-radius: 1.5vw;

    margin: 0.5vw;
    
    background-color: #09b598;
    text-align: center;
    font-size: 2vw;
    color: #dfdfdf;;
    line-height: 2.5vw;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#settingsButton:hover{
    background-color: #009578
}

#settingsButton:active {
    background-color: #008060;
}


/* Info */

/*#infoMenu {*/
.infoMenu {
    position: fixed;
    top: 5vh;
    left: 20vw;

    width: 60vw;
    height: 80vh;

    background-color: #27272b;
    display: none;

    text-align: center;
    font-size: 1vw;

    padding: 2vw;
}

.fullImage {
    max-width: 90%;
    height: 70%;
}

.metadata {
    max-height: 30%;
}

.deleteButton {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 3vw;
    height: 3vw;

    font-size: 2vw;
    font-family: sans-serif;
    text-align: center;
    line-height: 3vw;

    margin: 0.25vw;

    border-radius: 1.5vw;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.deleteButton:hover {
    background-color: #202022;
}

.deleteButton:active {
    background-color: #17171b;
}